.shaz{
    background-image: url("src/assets/emma-matthews-digital-content-production-80KqDlgsqA0-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-attachment: fixed;
}
h1{
    text-align:center;
}